@import "blog-page-responsive.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background: #202124;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #a646a7;
}

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 3.75em;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.main-navigation-list {
  padding-top: 0;
  height: 6.25rem;
  background-color: #a646a7;
}

.main-navigation-list li {
  text-align: center;
  padding: 0.1rem;
  background-color: #a646a7;
  gap: 1rem;
  margin-top: 0.5rem;
}

.main-navigation-list a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}

.sign-up {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #ddd;
  border: none;
  padding: 0.625rem 1.25rem;
  text-align: center;
  display: inline-block;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
  border-radius: 50px;
}

.sign-up a {
  text-decoration: none;
}

.back-link {
  text-align: left;
  padding-left: 1rem;
  padding-top: 7rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-decoration: none;
}

.back-link a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
}

.dimitri {
  text-align: center;
  background: #202124;
}

.dimitri h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 6.5em;
  padding-bottom: 0;
  margin-top: 5rem;
  margin-bottom: 0;
  color: #a646a7;
  line-height: 90px;
  text-align: left;
  padding-left: 1rem;
}

.dimitri h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 15.3rem;
  color: #a646a7;
}

main {
  padding: 2rem 0;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.main-post {
  grid-area: main-post;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: fit-content;
  grid-template-areas: "main-post-one";
}

.main-post-one.profile-pic {
  width: 1.25rem;
}

.main-post-one {
  grid-area: main-post-one;
  margin-bottom: 1.875rem;
}

.main-post-two {
  grid-area: main-post-two;
  margin-bottom: 1.875rem;
}

.main-post-three {
  grid-area: main-post-three;
  margin-bottom: 1.875rem;
}

.main-post-four {
  grid-area: main-post-four;
  margin-bottom: 1.875rem;
}

.main-post-five {
  grid-area: main-post-five;
  margin-bottom: 1.875rem;
}

.main-post-six {
  grid-area: main-post-six;
  margin-bottom: 4.9rem;
}

.main-post-one h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
  line-height: 37px;
  margin-bottom: 0;
}

.main-post-two h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}

.main-post-three h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}

.main-post-four h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}

.main-post-five h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}

.main-post-six h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}

.main-post-one p {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  padding-top: 2.6rem;
  margin-top: 0;
  color: #999;
  line-height: 35px;
  padding-bottom: 2em;
}

.main-post-two p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1.563rem;
  margin-top: 0;
  color: #999;
}

.main-post-three p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1.563rem;
  margin-top: 0;
  color: #999;
}

.main-post-four p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1.563rem;
  margin-top: 0;
  color: #999;
}

.main-post-five p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1.563rem;
  margin-top: 0;
  color: #999;
}

.main-post-six p {
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1.563rem;
  margin-top: 0;
  color: #999;
}

.main-post-one img {
  border-radius: 10px;
  margin-top: 3rem;
  width: 28.5rem;
}

.main-post-two img {
  border-radius: 10px;
}

.main-post-three img {
  border-radius: 10px;
}

.main-post-four img {
  border-radius: 10px;
}

.main-post-five img {
  border-radius: 10px;
}

.main-post-six img {
  border-radius: 10px;
}

.author {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.author p {
  padding-top: 0;
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

.author .profile-pic {
  width: 11%;
  height: 150%;
}

.side {
  border-radius: 10px;
  padding-left: 1.25rem;
  margin-bottom: 1.875rem;
}

time {
  font-weight: 600;
}

.cat-1 {
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}

.cat-1 h3 {
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  margin-top: 0;
}

.cat-1 p {
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.cat-1 li {
  display: flex;
  justify-content: space-between;
  border-bottom: #a646a7 solid 1px;
}

.cat-1.side {
  border: #a646a7 solid 1px;
  padding-left: 1.875rem;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}

.cat-2 {
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}

.cat-2 h3 {
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  margin-top: 0;
}

.cat-2 p {
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 0.813em;
  font-weight: 300;
  margin: 0;
}

.cat-2 li {
  display: flex;
  justify-content: space-between;
  border-bottom: #a646a7 solid 1px;
}

.cat-2.side {
  border: #a646a7 solid 1px;
  padding-left: 1.875rem;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}

.cat-3 {
  padding: 1.875rem;
  margin-bottom: 1.875rem;
}

.cat-3 h3 {
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  margin-top: 0;
}

.cat-3 p {
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 0.625rem;
}

.cat-3 li {
  display: flex;
  justify-content: space-between;
  border-bottom: #a646a7 solid 1px;
}

.cat-3.side {
  border: #a646a7 solid 1px;
  padding-left: 1.875rem;
  border-radius: 3px;
  margin-bottom: 1.875rem;
}

.side-post-two {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.side-post-two img {
  width: 25%;
  height: 15%;
  margin: 0;
  border-radius: 5px;
}

.tag-one,
.tag-two,
.tag-three {
  display: flex;
  gap: 2rem;
}

.tag-one p {
  font-weight: 600;
}

.tag-two p {
  font-weight: 600;
}

.tag-three p {
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

button.btn-1,
button.btn-2,
button.btn-3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  background: none;
  border: #fff solid 1px;
  padding: 0.625rem 0.625rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

button.btn-1 a,
button.btn-2 a,
button.btn-3 a {
  color: #fff;
  text-decoration: none;
}

.btn-3 {
  width: 6.25rem;
  height: 3.125rem;
}

.btn-1,
.btn-2 {
  width: 3.125rem;
  height: 3.125rem;
}

.contact {
  margin-top: 5rem;
  padding: 2.188rem 1.25rem 0.313rem 1.25rem;
  background-color: #a646a7;
}
.contact-top {
  text-align: center;
}

.contact-top h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.2em;
  font-weight: 600;
  padding-top: 0.625rem;
  margin-top: 0;
  color: #fff;
}

.contact-top h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  padding-top: 1.563rem;
  margin: 0;
  color: #ccc;
}

.title-Contact {
  font-size: 3rem;
  font-weight: bold;
}

.contact-info {
  border-radius: 0.625rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.563rem 1.25rem 1.25rem 1.25rem;
  background-color: #cd69ce;
}

.contact-info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  color: #202124;
  margin-bottom: 0.438rem;
  margin-top: 0;
}

.contact-info p {
  color: #303134;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

.pre-footer {
  background-color: #303134;
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}

.pre-footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  padding-right: 0;
  background-color: #303134;
  gap: 0.5rem;
}

.pre-footer-nav-links h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  font-weight: 600;
  padding-top: 1.563rem;
  margin: 0;
  color: #ccc;
  line-height: 60px;
}

.pre-footer-nav-links a {
  font-family: "Poppins", sans-serif;
  font-size: 0.975em;
  font-weight: 300;
  padding-top: 1.563rem;
  margin: 0;
  color: rgba(204, 204, 204, 0.327);
  line-height: 40px;
  text-decoration: none;
}

.pre-footer-social {
  padding-top: 0.2rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.pre-footer-social p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  line-height: 35px;
}

.footer-logo {
  font-family: "Bebas Neue", cursive;
  font-size: 3.75em;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: #f5f5f5;
  gap: 0.5rem;
}

.footer p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  padding: 1.563rem;
  margin: 0;
  color: #303134;
}
