@media (min-width: 500px) {
  body {
    background: #202124;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1.5rem;
    background-color: #a646a7;
  }

  .header h2 {
    margin: 0;
  }

  .logo {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75em;
    color: #fff;
  }

  .main {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "main-post main-post sidebar";
    margin-left: 200px;
    margin-right: 200px;
  }

  .main-post {
    grid-area: main-post;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "main-post-one main-post-two"
      "main-post-three main-post-four"
      "main-post-five main-post-six";
  }

  .main-post-one.profile-pic {
    width: 20px;
  }

  div.main-post-one.post{
    grid-area: main-post-one;
    margin-bottom: 0px;
  }
  
  div.main-post-two.post {
    grid-area: main-post-two;
    margin-bottom: 0px;
  }
  
  div.main-post-three {
    grid-area: main-post-three;
    margin-bottom: 0px;
  }
  
  div.main-post-four {
    grid-area: main-post-four;
    margin-bottom: 0px;
  }

  div.main-post-five {
    grid-area: main-post-five;
    margin-bottom: 0px;
  }

  div.main-post-six {
    grid-area: main-post-six;
    margin-bottom: 0px;
  }

  .main-post-one img {
    border-radius: 10px;
  }

  .main-post-two img {
    border-radius: 10px;
  }

  .main-post-three img {
    border-radius: 10px;
  }

  .main-post-four img {
    border-radius: 10px;
  }

  .main-post-five img {
    border-radius: 10px;
  }

  .main-post-six img {
    border-radius: 10px;
  }

  .author {
    display: flex;
    gap: 2rem;
  }

  .contact-bottom {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    gap: 2.5rem;
  }

  .contact-info {
    border: solid 1px black;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .pre-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
  }

  .main-navigation {
    margin-left: 200px;
    margin-right: 200px;
    background-color: #a646a7;
  }

  .main-navigation ul {
    padding-top: 0;
  }

  .main-navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: #a646a7;
    gap: 1rem;
  }

  .main-navigation-list li a {
    text-align: center;
    padding: 0.8rem;
    background-color: #a646a7;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .dimitri {
    text-align: center;
    background: #202124;
  }

  .dimitri h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 10.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #a646a7;
  }

  .dimitri h3 {
    font-family: "Bebas Neue", cursive;
    font-size: 3em;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 3em;
    color: #a646a7;
  }

  .main-post-one {
    grid-area: main-post-one;
    margin-bottom: 30px;
  }

  .main-post-two {
    grid-area: main-post-two;
    margin-bottom: 30px;
  }

  .main-post-three {
    grid-area: main-post-three;
    margin-bottom: 30px;
  }

  .main-post-four {
    grid-area: main-post-four;
    margin-bottom: 30px;
  }

  .side {
    margin-bottom: 30px;
  }

  .side-post-two {
    display: flex;
    gap: 2rem;
    padding-bottom: 0;
  }

  time {
    font-weight: 600;
  }

  .cat-1 {
    padding: 30px;
    margin-bottom: 30px;
  }

  .cat-1 li {
    display: flex;
    justify-content: space-between;
  }

  .cat-1.side {
    padding-left: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  .cat-1 h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0;
  }

  .cat-1 p {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
  }

  .cat-2 {
    padding: 30px;
    margin-bottom: 30px;
  }

  .cat-2 li {
    display: flex;
    justify-content: space-between;
  }

  .cat-2.side {
    border: black solid 1px;
    padding-left: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  .cat-2 h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0;
  }

  .cat-2 p {
    font-family: "Poppins", sans-serif;
    font-size: 0.813em;
    font-weight: 300;
    margin: 0;
  }

  .cat-3 {
    padding: 30px;
    margin-bottom: 30px;
  }

  .cat-3 li {
    display: flex;
    justify-content: space-between;
  }

  .cat-3.side {
    border: black solid 1px;
    padding-left: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
  }

  .cat-3 h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0;
  }

  .cat-3 p {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
  }
}
