@media (min-width: 600px) {
  body {
    background: #202124;
    margin: 0 auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #a646a7;
    height: 6.25rem;
  }

  .header a {
    text-decoration: none;
  }

  .header h2 {
    margin: 0;
  }

  .logo {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75em;
    color: #fff;
  }

  .main {
    margin: 0 auto;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "cards cards sidebar";
    
    /* margin-left: 12.5rem;
    margin-right: 12.5rem; */
  }
  .sidebar {
    grid-area: sidebar;
  }


  .cards {
    grid-area: cards;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card-one card-two"
      "card-three card-four"
      "card-five card-six";
  }

  .cards a {
    text-decoration: none;
  }

  .card-one.profile-pic {
    width: 1.25rem;
  }

  div.card-one.post{
    grid-area: card-one;
    margin-bottom: 1rem;
  }
  
  div.card-two.post {
    grid-area: card-two;
    margin-bottom: 1rem;
  }
  
  div.card-three {
    grid-area: card-three;
    margin-bottom: 1rem;
  }
  
  div.card-four {
    grid-area: card-four;
    margin-bottom: 1rem;
  }

  div.card-five {
    grid-area: card-five;
    margin-bottom: 1rem;
  }

  div.card-six {
    grid-area: card-six;
    margin-bottom: 2.5rem;
  }

  .card-one img {
    border-radius: 10px;
  }

  .card-two img {
    border-radius: 10px;
  }

  .card-three img {
    border-radius: 10px;
  }

  .card-four img {
    border-radius: 10px;
  }

  .card-five img {
    border-radius: 10px;
  }

  .card-six img {
    border-radius: 10px;
  }

  .author {
    display: flex;
    gap: 2rem;
  }

  .contact {
    margin-top: 5rem;
    padding: 2.188rem 6.875rem 3.438rem 6.875rem !important;
    background-color: #a646a7;
  }

  .contact-bottom {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;


    /* margin-left: 6.25rem;
    margin-right: 6.25rem; */
    
  }

  .contact-info {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.563rem 1.25rem 1.25rem 1.25rem;
    background-color: #cd69ce;
  }

  .contact-info h2 {
    margin-bottom: 0.438rem;
    margin-top: 0;
  }

  .contact-info p {
    margin: 0;
  }

  .pre-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 11.875rem;
    padding-right: 15.625rem;
    padding-bottom: 4.375rem !important;
  }

  .pre-footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-right: 4.5rem !important;
    background-color: #303134;
    gap: 0.5rem;
    padding-left: 7rem !important;
  }
  
  .pre-footer-social {
    padding-top: 4.2rem !important;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .pre-footer-social a {
    text-decoration: none;
  }

  .footer-logo {
    font-family: "Bebas Neue", cursive;
    font-size: 3.75em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main-navigation {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
  }

  .main-navigation ul {
    padding-top: 0;
  }

  .main-navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: #a646a7;
    gap: 1rem;
  }

  .main-navigation-list li a {
    text-align: center;
    padding: 0.8rem;
    background-color: #a646a7;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .main-navigation-list li a:hover {
    color: #202124;
  }

  .main-navigation-list li a:active {
    color: #381638;
  }

  .dimitri {
    text-align: center;
    background: #202124;
  }

  .dimitri h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 10.5em;
    padding-bottom: 0;
    margin-top: 12rem !important;
    margin-bottom: 0;
    color: #a646a7;
  }

  .dimitri h3 {
    font-family: "Bebas Neue", cursive;
    font-size: 3em;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 9rem !important;
    color: #a646a7;
  }

  .card-one {
    grid-area: card-one;
    margin-bottom: 1.875rem;
  }

  .card-two {
    grid-area: card-two;
    margin-bottom: 1.875rem;
  }

  .card-three {
    grid-area: card-three;
    margin-bottom: 1.875rem;
  }

  .card-four {
    grid-area: card-four;
    margin-bottom: 1.875rem;
  }

  .side {
    margin-bottom: 1.875rem;
  }

  .side-post-two {
    display: flex;
    gap: 2rem;
    padding-bottom: 0;
  }

  .cat-1 {
    padding: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .cat-1 li {
    display: flex;
    justify-content: space-between;
  }

  .cat-1.side {
    padding-left: 1.875rem;
    border-radius: 3px;
    margin-bottom: 1.875rem;
  }

  .cat-1 h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0;
  }

  .cat-1 p {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
  }

  .cat-2 {
    padding: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .cat-2 li {
    display: flex;
    justify-content: space-between;
  }

  .cat-2.side {
    border: black solid 1px;
    padding-left: 1.875rem;
    border-radius: 3px;
    margin-bottom: 1.875rem;
  }

  .cat-2 h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0;
  }

  .cat-2 p {
    font-family: "Poppins", sans-serif;
    font-size: 0.813em;
    font-weight: 300;
    margin: 0;
  }

  .cat-3 {
    padding: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .cat-3 li {
    display: flex;
    justify-content: space-between;
  }

  .cat-3.side {
    border: black solid 1px;
    padding-left: 1.875rem;
    border-radius: 3px;
    margin-bottom: 1.875rem;
  }

  .cat-3 h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    margin-top: 0;
  }

  .cat-3 p {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 300;
  }

.tag-one,
.tag-two,
.tag-three {
  display: flex;
  gap: 2rem;
  color: #a646a7;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin-top: 0;
}

.tag-one a {
  font-weight: 600;
  text-decoration: none;
  color: #a646a7;
}

.tag-two a {
  font-weight: 600;
  text-decoration: none;
  color: #a646a7;
}

.tag-three a {
  font-weight: 600;
  text-decoration: none;
  color: #a646a7;
}
}
